# 1. split() 함수 공부, map() 함수
입력 값을 변수 2개에 저장하기

In [5]:
# 문자열 2개 입력을 나누기
a,b=input("문자열 2개를 입력하시오. ").split()

('바보', '연야')

In [9]:
# 두 숫자의 합구하기
a,b=input('숫자 2개를 입력하시오. ').split()
a=int(a)
b=int(b)
print(a+b)

12

In [13]:
# map함수를 이용해서 정수로 변환하기
a,b=map(int, input("숫자 2개를 입력하시오: ").split())
print(a+b)
map()

12

In [27]:
def sum(a,b):
    return a+b
a,b=map(int,input("숫자 2개를 입력하시오. ").split(','))
sum(a,b)

3

split("기준 문자열") 혹은 split()으로 입력된 문자열을 기준문자열로 또는 공백으로 나눌 수 있다.

map(함수, iterable)로 iterable 자료형의 원소를 지정된 함수로 매핑하여 내보냄.

In [1]:
print(list(map(int,['1','2','3',4.5,4.1])))

[1, 2, 3, 4, 4]

# 2. 출력 방법 

2.1 sep로 값 사이에 문자 넣기 (Seperator 구분자)

In [6]:
print(1,2,3,sep=',')
print(1,2,3,sep=', ')
print(1,2,3,sep=' ')
print(1,2,3,sep='xx')
print('HELLO','PYTHON',sep=' ')
print('HELLO','PYTHON',sep=', ')

1,2,3
1, 2, 3
1 2 3
1xx2xx3
HELLO PYTHON
HELLO, PYTHON

2.2 줄바꿈 활용하기

In [7]:
print(1,2,3,sep='\n') # 줄바꿈

1
2
3

end 사용하기
print(1,2,3) 처럼 한 줄에 여러 개의 값을 출력하는 방법

In [10]:
print(1,2,3)

# end에 빈 문자열을 지정하면 다음번 출력이 바로 뒤에 오게 된다.
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3
1 2 3