<a href="https://colab.research.google.com/github/youse0ng/python_study/blob/main/%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%9D%91%EC%9A%A9%2B_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%EC%9D%91%EC%9A%A9_%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

서식 지정자

* %s: 문자열
  문자열 안에 %s를 넣고 그 뒤에 %를 붙인 뒤 'james'를 지정해주면 %s 부분이 'james'로 바뀐다.

* %d: 숫자

* %f: 서식 지정자로 소수점 표현하기
  fixed point, 소수점 이하 자릿수를 지정하고 싶다면 f 앞에 .(점)과 자릿수를 지정

서식 지정자로 문자열 안에 값 여러개 넣기
* '%d %s' %(숫자,문자열):값을 괄호로 묶어야지 에러가 나지않음

In [ ]:
'I am %s' % 'james'

In [ ]:
'해당 번호의 주인은 %s 입니다.' %'Ryu'

In [ ]:
name='Ryeong'

'그녀의 이름은 %s' %name

In [ ]:
'그녀의 이름은 chae, 나이는 %d 입니다.' %20

In [ ]:
'I am %d years old' %20

In [ ]:
'%f' % 2.23

In [ ]:
'%.2f' % 2.23421

In [ ]:
"나의 이름은 %s , 나이는 %d 입니다." %('유성',25)

# 연습문제: 파일 경로에서 파일명만 가져오기

In [ ]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
filename=path.split('\\')
print(filename[-1])

# 심사문제: 특정 단어 개수 세기

'the'의 개수를 출력하는 프로그램,

단, 모든 문자가 소문자로 만들고, 'the'를 찾으면 되며, 'them','their','there'등은 포함하지 않아야한다.

In [ ]:
import string
x=input().lower()
x=x.split()
count=0
for i in x:
  if 'the' == i.strip(string.punctuation):
    count+=1
print(count)

# 심사문제: 높은 가격순으로 출력하기

물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어있다.

입력된 가격을 가격순으로 출력하는 프로그램을 만들어라

In [ ]:
price=list(map(int,input().split(';')))
price.sort(reverse=True)
for i in price:
  print(format(i,','))

# 딕셔너리 개념 다시 읽고 정리

* setdefault: 키-값 쌍 추가
  
  setdefault(키),
  
  setdefault(키,값)

* update: 키의 값 수정, 키가 없으면 키-값 쌍 추가
  
  update(키=값)
  
  update(딕셔너리:{'키':값})
  
  update(리스트:[[키,값],[키,값]]) # 무조건 2차원

  update(반복가능한객체):
  * update(zip([키1,키2],[값1,값2])

In [ ]:
x={'a':10,'b':20,'c':30,'d':40}
x.setdefault('e')
x

In [ ]:
x={'a':10,'b':20,'c':30,'d':40}
x.setdefault('e',100)
x

In [ ]:
x={'a':10,'b':20,'c':30,'d':40}
x.update(d=1)
x

In [ ]:
x.update(e=200)
x

In [ ]:
x.update(f=200,q=100)
x

In [ ]:
x.update({1:'One',2:'Two'})
x

In [ ]:
x.update({'a':1})
x

In [ ]:
x.update([['제트','800만원']])
x

딕셔너리 표현식

* {키:값 for 키,값 in 딕셔너리}

In [ ]:
keys=['a','b','c','d']
lists=['One','Two','Three','Four']
x={key:value for key,value in dict.fromkeys(keys).items()}
y={idx+1:value for idx, value in enumerate(lists)}
x,y

딕셔너리는 특징 키를 삭제하는 pop 메서드만 제공할 뿐 특정 값을 삭제하는 메소드는 없다.

for 반복문으로 특정 값을 삭제한다고 하면 for문 도중 크기가 바뀌며 에러가 난다.

그래서 딕셔너리 표현식으로 우리는 특정 값을 삭제해야한다.

* {키:값 for 키,값 in 딕셔너리 if 조건식}

In [ ]:
x={'a':10,'b':20,'c':30,'d':40}
x={key:value for key,value in x.items() if value != 20}
x

In [ ]:
x={'a':10,'b':20,'c':30,'d':40}
x={key:value for key,value in x.items() if key!='a'}
x['b']

In [ ]:
for key in x: # 키값만 출력
  print(key)

# 연습문제: 평균 점수 구하기

In [ ]:
maria = {'korean':94, 'english':91, 'mathematic':89, 'science':83}
average=sum(maria.values())/len(maria)
print(average)

# 심사문제: 딕셔너리에서 특정 값 삭제하기

첫 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성

키가 'delta'인 키-값 쌍과 값이 30인 카-값 쌍을 삭제하도록 만들어라

In [ ]:
keys=input().split()
values=list(map(int,input().split()))
x=dict(zip(keys,values))
print(x)

In [ ]:
x={key:value for key,value in x.items() if key != 'delta' and value!=30}
x

처음엔 or 로 했었다 그이유는

delta를 키로 가진 것도 삭제 또는 30을 값으로 가진 것을 삭제해야하니까 or로 생각했는데, 생각대로 작동하지 않았다.
and로 바꾸니까 원하는 대로 되었는데, 그 이유는 뭘까..

delta를 가진 키를 삭제 (그리고) 30을 값으로 가진 값 삭제

delta를 가진 키를 삭제 (또는) 30을 값으로 가진 값 삭제

* and 일때

alpha,10 | True and True -> True

bravo,20 | True and True -> True

charlie,30 | True and False -> False

delta,40 | False and True -> False

* or 일때,

alpha,10 | True or True -> True

bravo,20 | True or True -> True

charlie,30 | True or False -> True

delta,40 | False or True -> True

다 통과된다.

and로 해야되는 걸 알았다...